@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;500&family=Kalam:wght@300&family=Open+Sans:wght@300;400;600&family=Poppins:wght@300;500&family=Roboto+Mono:wght@300&family=Rubik+Iso&family=Space+Grotesk:wght@500&display=swap');

:root{
    --blue:rgb(0, 162, 255);
}

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    transition: all 0.2s linear;
}

*::selection{
    background: var(--blue);
    color:antiquewhite;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    font-family: Signika Negative;
}

header{
    width: 100%;
    display: flex;
    background-color: black;
    align-items: center;
    top: 0; left: 0;
    padding: 1.2rem 2rem;
    z-index: 1000;
}

header .logo{
    font-size: 3rem;
    color: white;
    margin-right: auto;
    margin-left: 4rem;
    margin-top: 0.5rem;
    display: flex;
}

header .logo-img{
    height: 8rem;
}

header .logo-name{
    height: 8rem;
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .navbar ul li{
    margin: 0 3rem;
}

header .navbar ul li a{
    color: white;
    font-size: 3rem;
}

header .navbar ul li a:hover{
    color: var(--blue);
}

header .upload{
    margin-left: 2rem;
    font-size: 3rem;
    background: var(--blue);
    color: black;
    border-radius: 5rem;
    padding: .5rem 2.5rem;
}

header .upload:hover{
    background: #ffffff;
    color: rgb(0, 60, 255);
}

#menu{
    font-size: 3rem;
    color: #f2f2f2;
    cursor: pointer;
    display: none;
}
/* 
header.header-active{
    background: #111111;
}

header.header-active form{
    display: flex;
} */









body
{
    background-image: url('./img/background.png');
    color:  black;
    height: 90vh;
}

.page-body
{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    height: 75vh;
}
.intro-text
{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 4rem;
}
.intro-image
{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-left: 30rem;
}
.jash-pfp
{
    height: 40rem;
    border-radius: 20rem;
    padding: 1rem;
}
.playful
{
    color: rgb(0, 225, 255);
    margin: none;
}
.intro-text-p
{
    margin: 0;
    font-size: 4rem;
    font-weight: 500;
    text-align: end;
    padding-top: 5px ;
    font-family: Fredoka;
}
.name-subtitle
{
    color: black;
    font-size: 2rem;
    margin: 0;
    width: 100%;
    text-align: center;
    padding-top: 5%;
    padding-left: 5%;
    font-family: Roboto;
}
a
{
    text-decoration: none;
    color: white;
}

.events{
    color: black;
    font-size: 6rem;
    text-align: center;
    font-weight: bolder;
    padding-bottom: 10rem;
}
.card {
    width: 55rem;
    background-color: rgb(253,241,224);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
  }
  
  .card-image {
    width: 90%;
    height: 200px;
    object-fit: fill;
    align-self: center;
    margin: 2rem;
    border-radius: 2rem;
  }
  
  .card-content {
    padding: 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  
  .card-title {
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  .card-text {
    font-size: 16px;
    margin-bottom: 16px;
  }
  
  .card-button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: auto;
  }
  .events-body
  {
    padding: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr;
}


.footer {
  background: #f2f2f2;
}

.footer .box-container {
  display: flex;
  justify-content: center;
}

.footer .box-container .box {
  margin: 4rem 10rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: #000000;
}

.footer .box-container .box p {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333333;
  padding-bottom: 2rem;
}

.footer .box-container .box:nth-child(2) {
  text-align: center;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.6rem;
  padding: 0.5rem 0;
  color: #333333;
}
ul {
  list-style: none;
  box-sizing: border-box;
  padding: 1.5rem;
}
.info {
  display: flex;
}
li {
  padding: 1rem;
}


.footer .box-container .box a:hover {
  text-decoration: underline;
}

.footer .box-container .box form {
  display: flex;
  width: 100%;
}

.footer .box-container .box form input {
  height: 4rem;
  width: 100%;
  padding: 0 1rem;
  font-size: 1.7rem;
  color: #333333;
  border: none;
}

.footer .box-container .box form button {
  height: 4rem;
  width: 6rem;
  line-height: 4rem;
  text-align: center;
  padding: 0.1rem;
  font-size: 1.7rem;
  color: white;
  border: none;
  background-color: #3498db;
  cursor: pointer;
}

.footer .box-container .box form button:hover {
  background: var(--gold);
}

.footer .credits {
  text-align: center;
  padding: 2rem 1rem;
  background: #afafaffa;
  color: #333333;
  font-size: 2rem;
}

.footer .credits a {
  color: #0077b6;
}
.social-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box .social-icons a {
  margin-bottom: 2.8rem;
}
.icons {
  height: 4rem;
  width: 4rem;
}
.panda {
  height: 18rem;
  width: 15rem;
}
.furry {
  font-size: 15rem;
}
span {
  font-size: 1.5rem;
}